{% extends 'base.html.twig' %}
{% block title %}
	The District - Profil
{% endblock %}
{% block body %}
	<div class="mb-8 text-6xl text-visible">Vos informations</div>
	<div class="grid gap-4 text-visible">
		<div class="flex flex-col">
			<span class="font-bold">Email</span>
			<span>
				{{ infos.email }}
			</span>
		</div>
		<div class="flex flex-col">
			<span class="font-bold">Nom</span>
			<span>
				{{ infos.nom }}
			</span>
		</div>
		<div class="flex flex-col">
			<span class="font-bold">Prénom</span>
			<span>
				{{ infos.prenom }}
			</span>
		</div>
		<div class="flex flex-col">
			<span class="font-bold">Téléphone</span>
			<span>
				{{ infos.telephone }}
			</span>
		</div>
		<div class="flex flex-col">
			<span class="font-bold">Adresse</span>
			<span>
				{{ infos.adresse }}
			</span>
		</div>
		<div class="flex flex-col">
			<span class="font-bold">Code postal</span>
			<span>
				{{ infos.cp }}
			</span>
		</div>
		<div class="flex flex-col">
			<span class="font-bold">Ville</span>
			<span>
				{{ infos.ville }}
			</span>
		</div>
		<div class="flex flex-col">
			<span class="font-bold">Vérification du compte</span>
			{% if infos.verified %}
				<span>Compte vérifié ✅</span>
			{% else %}
				<div class="flex flex-col">
					<span class="text-red-500">Compte non vérifié ❌</span>
					<a class="text-visible underline decoration-visible" href="{{ path('app_verify_resend') }}">
						Renvoyer un mail
					</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
