{% block form_row %}
	{%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('flex flex-col')) }) -%}
	<div {% with {attr: row_attr} %} {{ block('attributes') }} {% endwith %}>
		{{ form_label(form) }}
		{{ form_widget(form, {'attr': {'class': 'w-full'}}) }}
		{% if form.vars['errors']|length > 0 %}
			{% for error in form.vars['errors'] %}
				<span class="text-red-600">{{ error.message }}</span>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}

{% block submit_row %}
	{%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('flex items-center justify-center')) }) -%}
	<div {% with {attr: row_attr} %} {{ block('attributes') }} {% endwith %}>
		{{ form_widget(form, {'attr': {'class': 'w-full p-2 rounded-xl bg-gray-100 text-black transition-all hover:bg-gray-200 active:shadow-[0_0_8px_0_rgba(0,0,0,0.5)_inset]'}}) }}
	</div>
{% endblock %}
