{% extends 'base.html.twig' %}

{% block title %}Hello categories!
{% endblock %}

{% block body %}
	<div class="w-full text-9xl text-center">
		Les catégories
	</div>
	<div class="w-full flex justify-center items-center">
		<table class="m-5 border-separate bg-blue-800">
			<thead>
				<tr class="text-left bg-blue-400">
					<th class="border-separate py-2 px-6 text-2xl">Id</th>
					<th class="border-separate py-2 px-6 text-2xl">Libelle</th>
					<th class="border-separate py-2 px-6 text-2xl">Image</th>
					<th class="border-separate py-2 px-6 text-2xl">Active</th>
				</tr>
			</thead>
			<tbody>
				{% for uneCategorie in lesCategories %}
					<tr class="even:bg-blue-200 odd:bg-blue-300 hover:bg-blue-500 cursor-pointer" onclick="location.href = '{{ path('app_categories.id', {id: uneCategorie.id}) }}'">
						<td class="border-separate bg-inherit text-2xl py-2 px-6">
							{{ uneCategorie.id }}
						</td>
						<td class="border-separate bg-inherit text-2xl py-2 px-6">
							{{ uneCategorie.libelle }}
						</td>
						<td class="border-separate bg-inherit text-2xl">
							<img src="{{ asset('build/images/categories/') }}{{ uneCategorie.image }}" alt="{{ uneCategorie.image }}" class="w-full h-[250px] object-cover">
						</td>
						<td class="border-separate bg-inherit text-2xl py-2 px-6 text-center">
							{% if uneCategorie.active == 1 %}
								Oui
							{% else %}
								Non
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
