{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="w-full text-9xl text-center">
		Les
		{{ lesPlats[0].categorie.libelle }}
	</div>
	<div class="w-full flex justify-center items-cente">
		<table class="m-5 border-separate bg-pink-800">
			<thead>
				<tr class="text-left bg-pink-400">
					<th class="border-separate py-2 px-6 text-2xl">Id</th>
					<th class="border-separate py-2 px-6 text-2xl">Libelle</th>
					<th class="border-separate py-2 px-6 text-2xl">Catégorie</th>
					<th class="border-separate py-2 px-6 text-2xl">Description</th>
					<th class="border-separate py-2 px-6 text-2xl">Prix</th>
					<th class="border-separate py-2 px-6 text-2xl">Image</th>
					<th class="border-separate py-2 px-6 text-2xl">Active</th>
				</tr>
			</thead>
			<tbody>
				{% for unPlat in lesPlats %}
					<tr class="odd:bg-pink-200 even:bg-pink-300">
						<td class="border-separate py-2 px-6 text-2xl">{{ unPlat.id }}</td>
						<td class="border-separate py-2 px-6 text-2xl">{{ unPlat.libelle }}</td>
						<td class="border-separate py-2 px-6 text-2xl">{{ unPlat.categorie.libelle }}</td>
						<td class="border-separate py-2 px-6 text-2xl">{{ unPlat.description }}</td>
						<td class="border-separate py-2 px-6 text-2xl">{{ unPlat.prix }}€</td>
						<td class="border-separate text-2xl">
							<img src="{{ asset('build/images/plats/') }}{{ unPlat.image }}" alt="{{ unPlat.image }}" class="w-full h-[250px] object-cover">
						</td>
						<td class="border-separate py-2 px-6 text-2xl text-center">
							{% if unPlat.active == 1 %}
								Oui
							{% else %}
								Non
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
