<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="shortcut icon" href="{{ asset('favicon_round.webp', 'logos')}}" type="image/x-icon">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body {% if cookie == 'dark' %} class='dark' {% endif %}>
		{{ encore_entry_script_tags('js') }}
		<div class="relative min-h-screen">
			<nav class="h-[80px] w-full bg-primary text-2xl">
				<div class="h-full w-full grid grid-cols-12 items-center">
					<div class="flex justify-center col-span-3">
						<a class="text-secondary" href="{{ path('app_accueil') }}">
							<img src="{{ asset('logo_transparent_cropped.webp', 'logos')}}" alt="logo" class="h-[64px]">
						</a>
					</div>
					<div class="flex gap-16 justify-center col-span-6">
						<a class="text-secondary" href="{{ path('app_accueil') }}">
							Accueil
						</a>
						<a class="text-secondary" href="{{ path('app_categories') }}">
							Catégories
						</a>
						<a class="text-secondary" href="{{ path('app_plats') }}">
							Plats
						</a>
					</div>
					<div class="flex justify-center col-span-1">
						<a class="text-secondary" href="{{ path('app_accueil') }}">
							Login
						</a>
					</div>
					<div class="flex justify-center col-span-2">
						<div id="darkmode-box">
							<div class="darkmode-walls bg-primary"></div>
							<input type="checkbox" name="theme" id="darkmode-toggle" {% if cookie == 'dark' %} checked {% endif %}>
							<label class="h-full" for="darkmode-toggle"></label>
							<img src="{{ asset('sun.svg', 'icones') }}" alt="thème clair" id="sun-svg">
							<img src="{{ asset('moon.svg', 'icones') }}" alt="thème sombre" id="moon-svg">
							<div class="darkmode-walls bg-primary"></div>
						</div>
					</div>
				</div>
			</nav>
			<div class="pb-[80px]">
				{{ cookie }}
				{% block body %}
					{}
				{% endblock %}
			</div>
			<footer class="w-full h-[80px] absolute bottom-0 bg-primary"></footer>
		</div>
	</body>
</html>
