<div class="cardFood {{ ((app.request.get('_route') == 'app_home') and loop.last) ? 'lg:hidden' : '' }}">
	<img src="{{ asset(food.image, 'foods') }}" alt="{{ food.image }}"/>
	<div>
		<div>{{ food.libelle }}</div>
		<div>{{ food.description }}</div>
		<div>
			<div>{{ food.prix|format_currency('EUR', { rounding_mode: 'floor' }, locale = 'fr') }}</div>
			<a href="{{ path('app_cart_add', { food: food.id }) }}">Ajouter au panier</a>
		</div>
	</div>
</div>
