<div class="cardPlat">
	<img src="{{ asset(unPlat.image, 'plats') }}" alt="{{ unPlat.image }}"/>
	<div>
		<div>{{ unPlat.libelle }}</div>
		<div>{{ unPlat.description }}</div>
		<div>
			<div>{{ unPlat.prix|format_currency('EUR', { rounding_mode: 'floor' }, locale = 'fr') }}</div>
			<button>Ajouter au panier</button>
		</div>
	</div>
</div>
